 {% extends 'base.html' %}
{% load static %}

{% block content %}

        
       <!--================Home Banner Area =================-->
        <section class="home_banner_area">
           	<div class="container box_1620">
           		<div class="banner_inner d-flex align-items-center">
					<div class="banner_content">
						<div class="media" >
							<div class="d-flex" style="padding-right: 0px!important;" >
								<img src="{% static 'img/navid.jpg.jpg' %}" alt="" style="width: 700px; height: 700px;">
							</div>
							<div class="media-body" >
								<div class="personal_text txt_al_ps" >
									<h6>سلام دوستان عزیز </h6>
									<h3>نوید احمدی </h3>
									<h4>طراح صفحات وب روبیک هستم </h4>
									<p>اینجا هستم که به شما نحوه طراحی وب با زبان های برنامه نویسی محبوب و جدید که طراحان وب با آن ها کار میکنند را یاد دهم </p>
									<ul class="list basic_info" style="text-align: right;" >
										<li> <a href="#"><i class="lnr lnr-calendar-full"  ></i><span class="spn_ic">26 خرداد 1378</span></a></li>
										<li><a href="#"><i class="lnr lnr-phone-handset"></i><span class="spn_ic"> 09117016780</span></a></li>
										<li><a href="#"><i class="lnr lnr-envelope"></i> <span class="spn_ic">n.ahmadi.livani@gmail.com</span></a></li>
										<li><a href="#"><i class="lnr lnr-home"></i><span class="spn_ic">گلستان,گرگان,ویلاشهر</span></a></li>
									</ul>
									<ul class="list personal_social">
										<li><a href="#"><i class="fa fa-facebook"></i></a></li>
										<li><a href="#"><i class="fa fa-twitter"></i></a></li>
										<li><a href="#"><i class="fa fa-linkedin"></i></a></li>
									</ul>
								</div>
							</div>
						</div>
					</div>
				</div>
            </div>
        </section>
        <!--================End Home Banner Area =================-->



        <!--================Home Banner Area =================-->
        <section class="profile_area">
           	<div class="container">
           		<div class="profile_inner p_120">
					<div class="row">
						<div class="col-lg-5">
							<img class="img-fluid" src="{% static 'img/IMG_0690.jpg' %}" alt="" style="width: 500px; height: 500px;">
						</div>
						<div class="col-lg-7">
							<div class="personal_text">
								<h6>سلام دوستان </h6>
								<h3>نوید احمدی</h3>
								<h4>طراح صفحات وب روبیک هستم </h4>
								<p>اینجا هستم که به شما نحوه طراحی وب با زبان های برنامه نویسی محبوب و جدید که طراحان وب با آن ها کار میکنند را یاد دهم </p>
								<ul class="list basic_info" style="text-align: right;" >
									<li> <a href="#"><i class="lnr lnr-calendar-full"  ></i><span class="spn_ic">26 خرداد1378</span></a></li>
									<li><a href="#"><i class="lnr lnr-phone-handset"></i><span class="spn_ic"> 09117016780</span></a></li>
									<li><a href="#"><i class="lnr lnr-envelope"></i> <span class="spn_ic">n.ahmadi.livani@gmail.com</span></a></li>
									<li><a href="#"><i class="lnr lnr-home"></i><span class="spn_ic">گلستان,گرگان,ویلاشهر </span></a></li>
								</ul>
								<ul class="list personal_social">
									<li><a href="#"><i class="fa fa-facebook"></i></a></li>
									<li><a href="#"><i class="fa fa-twitter"></i></a></li>
									<li><a href="#"><i class="fa fa-linkedin"></i></a></li>
								</ul>
							</div>
						</div>
					</div>
           		</div>
            </div>
        </section>
        <!--================End Home Banner Area =================-->


		<!--================Testimonials Area =================-->
		<section class="testimonials_area p_120">
			<div class="container">
				<div class="main_title">
					<h2>رضایت کاربران</h2>
					<p>شما میتوانید در این قسمت ایده ها و نظرات کسانی را که با سایت ما آشنا شده اند را بخوانید و شما نیز نظرات خود را درباره ی موفقیت های خود بگذارید</p>
				</div>
				<div class="testi_inner">
					<div class="testi_slider owl-carousel">
						<div class="item">
							<div class="testi_item" dir="rtl">
								<p>با وجود شما من تونستم بر روی محتوا گذاشتن روی وبسایتم به خوبی متمرکز بشم و خیالم از مسائل فنی راحت شده. خیلی خوشحالم که بخش فنی سایتم رو به دست فردی با تجربه و قابل اعتماد سپردم.</p>
								<h4>امیر زارعیان</h4>
								<a href="#"><i class="fa fa-star"></i></a>
								<a href="#"><i class="fa fa-star"></i></a>
								<a href="#"><i class="fa fa-star"></i></a>
								<a href="#"><i class="fa fa-star"></i></a>
								<a href="#"><i class="fa fa-star-half-o flip_H" ></i></a>
							</div>
						</div>
						<div class="item">
							<div class="testi_item" dir="rtl">
								<p>این سایت و خدماتش واقعا عالی هستن و حس خیلی خوبیه وقتی ببینی هرمشکلی که سایتت داشته باشه مهم نیست چون شخصی هست که میتونه براحتی بهتون راه حل بده.</p>
								<h4>علیرضا حسینی</h4>
								<a href="#"><i class="fa fa-star"></i></a>
								<a href="#"><i class="fa fa-star"></i></a>
								<a href="#"><i class="fa fa-star"></i></a>
								<a href="#"><i class="fa fa-star"></i></a>
								<a href="#"><i class="fa fa-star-half-o flip_H"></i></a>
							</div>
						</div>
						<div class="item">
							<div class="testi_item" dir="rtl">
								<p>از این بابت خیلی خوشحالم که میتونم برای هر مشکلی که داشتم بلافاصله از شما کمک بگیرم و شما بلافاصله در هر ساعت از شبانه روز که باشه آنلاین پاسخگو هستید.</p>
								<h4>مصطفی سلیمی </h4>
								<a href="#"><i class="fa fa-star"></i></a>
								<a href="#"><i class="fa fa-star"></i></a>
								<a href="#"><i class="fa fa-star"></i></a>
								<a href="#"><i class="fa fa-star"></i></a>
								<a href="#"><i class="fa fa-star-half-o flip_H"></i></a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>
		<!--================End Testimonials Area =================-->
        
 {% endblock %}