{% load static %}
<aside class="single_sidebar_widget author_widget">
    <img class="author_img rounded-circle" src="{% static 'img//blog/author.png' %}" alt="">
    <h4>نوید خان احمدی</h4>
    <p>وبلاگ نویس</p>
    <div class="social_icon">
        <a href="#"><i class="fa fa-facebook"></i></a>
        <a href="#"><i class="fa fa-twitter"></i></a>
        <a href="#"><i class="fa fa-github"></i></a>
        <a href="#"><i class="fa fa-behance"></i></a>
    </div>
    <p>وبلاگ نویسی به نوعی احترام به بازدید کننده و مخاطب است و شرایطی به وجود می‌آورد که آنها راحت‌تر به اطلاعات مورد
        نیاز دسترسی داشته باشند.</p>
    <div class="br"></div>
</aside>